@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*.home-section div * {
  outline: 1px solid #f00 !important;
}*/

@media only screen and (max-width: 650px) {
  .home-section-content-wrapper {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 50px;
    z-index: 1;
  }

  .home-section-content-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    z-index: 1;
  }

  .home-section-carousel-wrapper {
    animation: fadeIn 3.5s;
    display: flex;
    flex-direction: row;
  }

  .home-section {
    display: flex;
    flex-direction: column;
    background-image: url("./../../../../images/Taustakuvat/1_blank.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .home-section-carousel-content-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 150px;
  }

  .home-section-carousel-content-wrapper
    .home-section-carousel-showcase-card:nth-child(1) {
    display: flex;
  }

  .home-section-carousel-content-wrapper
    .home-section-carousel-showcase-card:nth-child(2) {
    display: none;
  }

  .home-section-carousel-content-wrapper
    .home-section-carousel-showcase-card:nth-child(3) {
    display: none;
  }

  .home-section-carousel-content-wrapper
    .home-section-carousel-showcase-card:nth-child(4) {
    display: none;
  }

  .home-section-carousel-showcase-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    user-select: none;
    width: 230px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }

  .home-section-carousel-showcase-card img:hover {
    transform: scale(1.1);
  }

  .home-section-carousel-showcase-card-header {
    color: orange;
    font-size: 20px;
    margin-top: 40px;
  }

  .home-section-carousel-showcase-card-text {
    color: white;
  }

  .home-section-shift-carousel-forward-button {
    background-image: url("./../../../../images/Sivustoelementit/Karuselli_Arrow_Left.svg");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin-top: 230px;
    transform: rotate(180deg);
  }

  .home-section-shift-carousel-backwards-button {
    background-image: url("./../../../../images/Sivustoelementit/Karuselli_Arrow_Left.svg");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    min-width: 50px;
    height: 50px;
    width: 50px;
    margin-top: 230px;
  }
}

@media only screen and (min-width: 650px) {
  .home-section-content-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    z-index: 1;
  }

  .home-section-carousel-wrapper {
    animation: fadeIn 3.5s;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
  }

  .home-section {
    display: flex;
    flex-direction: column;
    background-image: url("./../../../../images/Taustakuvat/1_blank.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .home-section-carousel-content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    margin-top: 150px;
  }

  .home-section-carousel-content-wrapper
    .home-section-carousel-showcase-card:nth-child(3) {
    display: none;
  }

  .home-section-carousel-content-wrapper
    .home-section-carousel-showcase-card:nth-child(4) {
    display: none;
  }

  .home-section-carousel-showcase-card {
    display: flex;
    flex-direction: column;
    user-select: none;
    width: 230px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }

  .home-section-carousel-showcase-card img:hover {
    transform: scale(1.1);
  }

  .home-section-carousel-showcase-card-header {
    color: orange;
    font-size: 20px;
    margin-top: 40px;
  }

  .home-section-carousel-showcase-card-text {
    color: white;
  }

  .home-section-shift-carousel-forward-button {
    background-image: url("./../../../../images/Sivustoelementit/Karuselli_Arrow_Left.svg");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin-top: 230px;
    transform: rotate(180deg);
  }

  .home-section-shift-carousel-backwards-button {
    background-image: url("./../../../../images/Sivustoelementit/Karuselli_Arrow_Left.svg");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    min-width: 50px;
    height: 50px;
    width: 50px;
    margin-top: 230px;
  }
}

@media only screen and (min-width: 900px) {
  .home-section-carousel-showcase-card {
    width: 230px;
  }

  .home-section-carousel-content-wrapper
    .home-section-carousel-showcase-card:nth-child(3) {
    display: flex;
  }

  .home-section-carousel-content-wrapper
    .home-section-carousel-showcase-card:nth-child(4) {
    display: none;
  }
}

@media only screen and (min-width: 1367px) {
  .home-section-carousel-showcase-card {
    width: 230px;
  }

  .home-section-carousel-content-wrapper
    .home-section-carousel-showcase-card:nth-child(3) {
    display: flex;
  }

  .home-section-carousel-content-wrapper
    .home-section-carousel-showcase-card:nth-child(4) {
    display: flex;
  }
}

@media only screen and (min-width: 1680px) {
}

@media only screen and (min-width: 2100px) {
}

@media only screen and (min-width: 2561px) {
}

@media only screen and (min-width: 3620px) {
}
