/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hp-section {
    height: 800px;
    background-size: cover;
  }

  .nav-links-wrapper li {
    display: none;
  }

  .home-section-header-unscrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background: #111111;
    margin-top: -128px;
    position: sticky;
    top: 0;
  }

  .home-section-header-scrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background: #111111;
    margin-top: -128px;
    position: sticky;
    top: 0;
  }

  .navigation-bar-burger-icon div {
    color: white;
    display: block;
    position: absolute;
    left: 0;
    top: 1;
    font-size: 36px;
    padding-left: 20px;
    padding-top: 2px;
  }

  .home-section {
    background-position-x: 19%;
  }

  .humavoid-home-section-logo {
    margin-left: 30px;
  }

  .bio-section {
    background-position-x: 0%;
  }

  .tour-section {
    background-position-x: 0%;
  }

  .store-section {
    background-position-x: 17%;
  }

  .contact-section {
    background-position-x: 19%;
  }

  .smoke-1 {
    height: 800px;
    margin-top: -465px;
    background-image: url("./../images/Taustakuvat/smokekaari.png");
    background-size: cover;
    background-position-x: 44%;
    background-repeat: no-repeat;
  }

  .smoke-2 {
    height: 800px;
    margin-top: -380px;
    background-image: url("./../images/Taustakuvat/smokekupera.png");
    background-size: cover;
    background-position-x: 44%;
    background-repeat: no-repeat;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hp-section {
    background-position-x: 19%;
    height: 800px;
  }

  .humavoid-home-section-logo {
  }

  .home-section-header-unscrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background: transparent;
    margin-top: -128px;
    position: sticky;
    top: 0;
  }

  .home-section-header-scrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background: #111111;
    margin-top: -128px;
    position: sticky;
    top: 0;
  }

  .navigation-bar-burger-icon div {
    display: none;
  }

  .smoke-1 {
    height: 800px;
    margin-top: -460px;
    background-image: url("./../images/Taustakuvat/smokekaari.png");
    background-size: cover;
    background-position-x: 44%;
    background-repeat: no-repeat;
  }

  .smoke-2 {
    height: 800px;
    margin-top: -415px;
    background-image: url("./../images/Taustakuvat/smokekupera.png");
    background-size: cover;
    background-position-x: 44%;
    background-repeat: no-repeat;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .home-section-header-unscrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background: transparent;
    margin-top: -128px;
    position: sticky;
    top: 0;
  }

  .home-section-header-scrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background: #111111;
    margin-top: -128px;
    position: sticky;
    top: 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1367px) {
  .home-section-header-unscrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background: transparent;
    margin-top: -128px;
    position: sticky;
    top: 0;
  }

  .home-section-header-scrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background: #111111;
    margin-top: -128px;
    position: sticky;
    top: 0;
  }
  .hp-section {
    background-position-x: 44%;
    min-height: 1000px;
  }

  .smoke-1 {
    display: flex;
    margin-top: -580px;
    min-height: 1000px;
    background-position-x: 90%;
    background-image: url("./../images/Taustakuvat/smokekaari.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .smoke-2 {
    display: flex;
    margin-top: -475px;
    min-height: 1000px;
    background-position-x: 90%;
    background-image: url("./../images/Taustakuvat/smokekupera.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 1680px) {
  .home-section-header-unscrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background: transparent;
    margin-top: -128px;
    position: sticky;
    top: 0;
  }

  .home-section-header-scrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background: #111111;
    margin-top: -128px;
    position: sticky;
    top: 0;
  }
  .hp-section {
    background-position-x: 44%;
  }
}

.App {
  text-align: center;
  overflow: hidden;
  background: green;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.landing-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #111111;
  width: 100%;
}

.nav-links-wrapper {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 0px;
}

.nav-links-wrapper li:hover {
  color: orange;
  cursor: pointer;
}

.section-wrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1680px;
}

.hp-section {
}

.humavoid-home-section-logo {
  height: 45px;
  width: 200px;
  background-image: url("./../images/Sivustoelementit/Logo_Hero.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.home-section {
  display: flex;
  flex-direction: column;
  background-image: url("./../images/Taustakuvat/1_blank.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bio-section {
  display: flex;
  flex-direction: column;
  background-image: url("./../images/Taustakuvat/2_Blank.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-section {
  display: flex;
  flex-direction: column;
  background-image: url("./../images/Taustakuvat/3_Blank.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.store-section {
  display: flex;
  flex-direction: column;
  background-image: url("./../images/Taustakuvat/4_Blank.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-section {
  display: flex;
  flex-direction: column;
  background-image: url("./../images/Taustakuvat/5_Blank.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
