@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*section {
  outline: 1px solid rgb(51, 255, 0) !important;
}*/

/* ------------------------------------- Utility classes ------------------------------------- */

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* ------------------------------------- App, Nav, General ------------------------------------- */

.App {
  text-align: center;
  overflow: hidden;
  background: green;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.landing-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #111111;
}

.nav-links-wrapper {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 82px;
  padding-left: 0px;
  user-select: none;
}

.nav-links-wrapper li:hover {
  color: orange;
  cursor: pointer;
}

.section-wrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* ------------------------------------- Media screens ------------------------------------- */

/* Extra small devices (phones, 650px and down) */
@media only screen and (max-width: 650px) {
  .header-unscrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -100px;
    height: 80px;
    background: #111111;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .header-scrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -100px;
    height: 80px;
    background: #111111;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .burger-icon div {
    color: white;
    display: block;
    position: absolute;
    left: 0;
    top: 1;
    font-size: 36px;
    padding-left: 20px;
    padding-top: 20px;
  }

  .navigation-bar {
    display: none;
  }

  .humavoid-mobile-logo {
    height: 50px;
    width: 221px;
    background-image: url("./../images/Sivustoelementit/Logo_Hero.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 15px;
    z-index: 3;
  }

  .smoke-1 {
    height: 800px;
    margin-top: -460px;
    background-image: url("./../images/Taustakuvat/smokekaari.png");
    background-size: cover;
    background-position-x: 44%;
    background-repeat: no-repeat;
  }

  .smoke-2 {
    height: 800px;
    margin-top: -380px;
    background-image: url("./../images/Taustakuvat/smokekupera.png");
    background-size: cover;
    background-position-x: 44%;
    background-repeat: no-repeat;
  }

  .hp-section {
    height: 800px;
    background-position-x: 19%;
  }
}

/* Small devices (portrait tablets and large phones, 650px and up) */
@media only screen and (min-width: 650px) {
  .burger-icon div {
    display: none;
  }

  .header-unscrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -287px;
    background: transparent;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .header-scrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -287px;
    background: #111111;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .nav-links-wrapper {
    gap: 40px;
  }

  .humavoid-logo {
    display: flex;
    align-self: center;
    height: 160px;
    width: 500px;
    background-image: url("./../images/Sivustoelementit/Logo_Hero.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 54px;
    z-index: 2;
  }

  .humavoid-mobile-logo {
    display: none;
  }

  .smoke-1 {
    height: 800px;
    margin-top: -460px;
    background-image: url("./../images/Taustakuvat/smokekaari.png");
    background-size: cover;
    background-position-x: 44%;
    background-repeat: no-repeat;
  }

  .smoke-2 {
    height: 800px;
    margin-top: -380px;
    background-image: url("./../images/Taustakuvat/smokekupera.png");
    background-size: cover;
    background-position-x: 44%;
    background-repeat: no-repeat;
  }

  .hp-section {
    background-position-x: 19%;
    height: 800px;
  }
}

/* Medium devices (landscape tablets, 900px and up) */
@media only screen and (min-width: 900px) {
  .nav-links-wrapper {
    gap: 52px;
  }

  .header-unscrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -287px;
    background: transparent;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .header-scrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -287px;
    background: #111111;
    position: sticky;
    top: 0;
    z-index: 2;
  }
}

/* Extra large devices (large laptops and desktops, 1367px and up) */
@media only screen and (min-width: 1367px) {
  .nav-links-wrapper {
    gap: 82px;
  }

  .header-unscrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -287px;
    background: transparent;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .header-scrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -287px;
    background: #111111;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .hp-section {
    background-position-x: 44%;
    min-height: 1000px;
  }

  .humavoid-logo {
    width: 600px;
  }

  .smoke-1 {
    margin-top: -580px;
    min-height: 1000px;
    background-position-x: 90%;
  }

  .smoke-2 {
    margin-top: -475px;
    min-height: 1000px;
    background-position-x: 90%;
  }
}

@media only screen and (min-width: 1680px) {
  .header-unscrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    margin-bottom: -287px;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .header-scrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #111111;
    margin-bottom: -287px;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .smoke-1 {
    margin-top: -760px;
    min-height: 1300px;
  }

  .smoke-2 {
    margin-top: -615px;
    min-height: 1300px;
  }

  .hp-section {
    min-height: 1300px;
  }
}

@media only screen and (min-width: 2100px) {
  .smoke-1 {
    margin-top: -880px;
    min-height: 1500px;
  }

  .smoke-2 {
    margin-top: -710px;
    min-height: 1500px;
  }

  .hp-section {
    min-height: 1500px;
  }
}

@media only screen and (min-width: 2561px) {
  .smoke-1 {
    margin-top: -1150px;
    min-height: 1900px;
  }

  .smoke-2 {
    margin-top: -900px;
    min-height: 1900px;
  }

  .hp-section {
    min-height: 1700px;
  }
}

@media only screen and (min-width: 3620px) {
  .smoke-1 {
    margin-top: -1200px;
    min-height: 1900px;
  }

  .smoke-2 {
    margin-top: -960px;
    min-height: 1900px;
  }

  .hp-section {
    min-height: 1900px;
  }
}
