@media only screen and (max-width: 650px) {
  .bio-section {
    display: flex;
    flex-direction: column;
    background-image: url("./../../../../images/Taustakuvat/2_Blank.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0;
  }

  .bio-section-content-wrapper {
    display: flex;
    justify-content: center;
    z-index: 1;
  }
}

@media only screen and (min-width: 650px) {
  .bio-section {
    display: flex;
    flex-direction: column;
    background-image: url("./../../../../images/Taustakuvat/3_Blank.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bio-section-content-wrapper {
    display: flex;
    justify-content: center;
    z-index: 1;
  }
}

@media only screen and (min-width: 900px) {
}

@media only screen and (min-width: 1367px) {
}

@media only screen and (min-width: 1680px) {
}

@media only screen and (min-width: 2100px) {
}

@media only screen and (min-width: 2561px) {
}

@media only screen and (min-width: 3620px) {
}
